$title-font: Arial;
$main-color: rgb(0, 0, 0);
$secondary-color: rgb(112, 192, 145);

header {
    height:100vh;
    min-height:100vh;
}
main {
    height:100vh;
    min-height:100vh;
}
footer {
    height:100vh;
    min-height:100vh;
}