::-moz-selection {
  /* Code for Firefox */
  background: #0000ff; }

::selection {
  background: #0000ff; }

body {
  width: 100vw;
  display: grid;
  grid-template-rows: auto auto auto;
  margin: 0;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #000000;
  font-family: "Heebo", "Open Sans", sans-serif;
  color: #ffff; }
  body h2 {
    margin-block-start: none;
    margin-block-end: none; }
  body ul {
    list-style: none;
    list-style-position: none;
    padding-inline-start: 0; }
  body a {
    color: #ffff;
    text-decoration: none; }

.full-viewport {
  height: 100vh;
  position: relative; }

header .name-title, header .progress-text {
  font-family: "Heebo", "Open Sans", sans-serif;
  font-weight: bolder;
  text-transform: uppercase; }

header .name-title {
  font-size: 33vh;
  margin: 0;
  pointer-events: none;
  z-index: 0; }

header .progress-container {
  width: 100%; }
  header .progress-container .progress-text {
    top: 27vh;
    position: absolute;
    z-index: -10;
    color: #ffff;
    font-size: 15vh;
    text-shadow: -1px 0 #ffff, 0 1px #ffff, 1px 0 #ffff, 0 -1px #ffff;
    text-align: center;
    margin: 0; }

.navigation-bar {
  top: 0;
  width: 100%;
  border-bottom: 1px solid #ffff;
  position: fixed; }
  .navigation-bar ul {
    list-style: none;
    list-style-position: none;
    font-family: "Roboto Condensed", sans-serif;
    display: flex;
    justify-content: space-around;
    padding-inline-start: 0; }
    .navigation-bar ul .navigation-link {
      font-family: "Heebo", "Open Sans", sans-serif;
      font-size: 1.2em;
      font-weight: 300;
      text-transform: uppercase;
      letter-spacing: 5px; }
    .navigation-bar ul .my-name {
      font-size: 1.3em;
      font-weight: 700;
      letter-spacing: normal;
      color: #0000ff; }
    .navigation-bar ul .navigation-link {
      display: flex;
      align-items: center; }
      .navigation-bar ul .navigation-link .strikethrough {
        position: relative;
        display: block; }
      .navigation-bar ul .navigation-link .strikethrough::before, .navigation-bar ul .navigation-link .strikethrough::after {
        content: '';
        position: absolute;
        width: 0%;
        height: 1.5px;
        top: 50%;
        margin-top: -0.5px;
        background: #0000ff; }
      .navigation-bar ul .navigation-link .strikethrough::before {
        left: -2.5px; }
      .navigation-bar ul .navigation-link .strikethrough::after {
        right: 2.5px;
        background: #0000ff;
        transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1); }
      .navigation-bar ul .navigation-link .strikethrough:hover::before {
        background: #0000ff;
        width: 100%;
        transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1); }
      .navigation-bar ul .navigation-link .strikethrough:hover::after {
        background: transparent;
        width: 100%;
        transition: 0s; }

main {
  width: 100%;
  height: auto;
  margin: 0;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: #ffff;
  color: #000000; }
  main .background-section {
    width: 100%;
    position: relative; }
  main .skills-section {
    width: 100%;
    position: relative; }

footer {
  width: 100%;
  height: 100vh;
  margin: 0;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  position: relative; }
  footer .about-me {
    display: flex;
    align-items: center;
    align-content: space-around; }
    footer .about-me .my-name {
      width: 50%;
      font-size: 1em;
      letter-spacing: normal;
      border-right: 1px solid #ffff;
      text-align: right;
      padding-right: 15px; }
    footer .about-me .contact-list {
      width: 50%;
      display: flex;
      align-items: center;
      justify-content: flex-start; }
      footer .about-me .contact-list li {
        padding: 0 15px 0 15px; }

.vertical-bar {
  widows: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center; }

.vertical-bar::after {
  bottom: 0;
  position: absolute;
  content: "";
  border: 1px solid #0000ff;
  height: 35px; }

.made-with {
  width: 100%;
  bottom: 5px;
  position: absolute;
  margin-block-start: 0;
  margin-block-end: 0;
  color: #0000ff;
  margin-left: 50%;
  padding-left: 30px;
  text-transform: initial; }
