body h2 {
  margin-block-start: none;
  margin-block-end: none; }

.full-viewport {
  height: 100vh; }

header .name-title, header .progress-text {
  font-family: "Heebo", "Open Sans", sans-serif;
  font-weight: bolder;
  text-transform: uppercase; }

header .name-title {
  font-size: 33vh;
  margin: 0;
  pointer-events: none;
  z-index: 0; }

header .progress-container {
  width: 100%; }
  header .progress-container .progress-text {
    top: 27vh;
    position: absolute;
    z-index: -10;
    color: #ffff;
    font-size: 15vh;
    text-shadow: -1px 0 blue, 0 1px blue, 1px 0 blue, 0 -1px blue;
    text-align: center;
    margin: 0; }
