body {
  width: 100%;
  height: 100vh;
  margin: 0;
  background-color: #000000;
  color: #ffff; }
  body h2 {
    margin-block-start: none;
    margin-block-end: none; }

.full-viewport {
  height: 100vh; }

header .name-title, header .progress-text {
  font-family: "Heebo", "Open Sans", sans-serif;
  font-weight: bolder;
  text-transform: uppercase; }

header .name-title {
  font-size: 33vh;
  margin: 0;
  pointer-events: none;
  z-index: 0; }

header .progress-container {
  width: 100%; }
  header .progress-container .progress-text {
    top: 27vh;
    position: absolute;
    z-index: -10;
    color: #ffff;
    font-size: 15vh;
    text-shadow: -1px 0 #ffff, 0 1px #ffff, 1px 0 #ffff, 0 -1px #ffff;
    text-align: center;
    margin: 0; }

.navigation-bar {
  border-bottom: 1px solid #ffff; }
  .navigation-bar ul {
    list-style: none;
    list-style-position: none;
    font-family: "Roboto Condensed", sans-serif;
    display: flex;
    justify-content: space-around;
    padding-inline-start: 0; }
    .navigation-bar ul .navigation-link {
      font-family: "Heebo", "Open Sans", sans-serif;
      font-size: 1.2em;
      font-weight: 300;
      text-transform: uppercase;
      letter-spacing: 5px; }
    .navigation-bar ul .my-name {
      font-size: 1.3em;
      font-weight: 700;
      letter-spacing: normal;
      color: #70c091; }
    .navigation-bar ul li {
      display: flex;
      align-items: center; }
      .navigation-bar ul li .strikethrough {
        position: relative;
        display: block; }
      .navigation-bar ul li .strikethrough:before, .navigation-bar ul li .strikethrough:after {
        content: '';
        position: absolute;
        width: 0%;
        height: 1.5px;
        top: 50%;
        margin-top: -0.5px;
        background: #70c091; }
      .navigation-bar ul li .strikethrough:before {
        left: -2.5px; }
      .navigation-bar ul li .strikethrough:after {
        right: 2.5px;
        background: #70c091;
        transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1); }
      .navigation-bar ul li .strikethrough:hover:before {
        background: #70c091;
        width: 100%;
        transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1); }
      .navigation-bar ul li .strikethrough:hover:after {
        background: transparent;
        width: 100%;
        transition: 0s; }

main {
  display: none; }

footer {
  display: none; }

::-moz-selection {
  /* Code for Firefox */
  background: #70c091; }

::selection {
  background: #70c091; }
